<form [formGroup]="voteForm" (ngSubmit)="onSubmit()">
  <div [formGroup]="voteForm">
    <div formArrayName="votes">
      <div
        class="input-wrapper"
        *ngFor="let vote of votes.controls; let i = index"
      >
        {{ questionsFiltered[i].text }}
        <input formControlName="{{ i }}" type="radio" [value]="true" />Yes
        <input formControlName="{{ i }}" type="radio" [value]="false" />No
      </div>
    </div>
  </div>
  <div class="form-group">
    <button
      type="submit"
      [disabled]="!voteForm.valid"
      class="btn btn-primary form-btn"
    >
      <i class="bi bi-save"></i>
      Vote
    </button>
  </div>
</form>
