<app-header></app-header>
<mat-card>
  <mat-card-header
    ><mat-card-title>Create a new question</mat-card-title></mat-card-header
  >
  <mat-card-content>
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <div class="section">
        <mat-form-field class="example-full-width">
          <textarea
            matInput
            name="text"
            id="text"
            formControlName="text"
          ></textarea>
          <div
            *ngIf="
              questionForm.controls['text'].invalid &&
              (questionForm.controls['text'].dirty ||
                questionForm.controls['text'].touched)
            "
            class="error-msg"
          >
            <div *ngIf="questionForm.controls['text'].errors?.required">
              This field is required
            </div>
            <div *ngIf="questionForm.controls['text'].errors?.maxlength">
              200 characters maximum are allowed
            </div>
          </div>
        </mat-form-field>
      </div>

      <button
        type="submit"
        [disabled]="!questionForm.valid"
        mat-raised-button
        color="primary"
      >
        Save
      </button>
      {{ message }}
    </form>
  </mat-card-content>
</mat-card>
